# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/
/.settings/
/.out/
/.DS_Store

.classpath
.project
Zadanie2.eml
Zadanie2.iml
Zadanie2.userlibraries

season.ser
notificationHandler.ser